.users__wrapper {
    padding-left: 50px;
}

.selectedPage {
    font-weight: bold;
    font-size: 20px;
}

.user__wrapper {
    display: flex;
    width: 350px;
    height: 75px;
    border-bottom: 1px solid var(--border);
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.username__wrapper {
    display: flex;
    flex-direction: column;
}

.button {
    width: 88px;
    height: 32px;
    color: var(--links);
    font-size: inherit;
    padding: 0;
    border: 1px solid var(--links);
    background: none;
    border-radius: 9999px;
    margin: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: var(--orangeHover);
}

.button:active {
    transform: translateY(2px);
    transition: 0.2s;
    background-color: rgb(146, 125, 125);
}

.button:disabled {
    border-color: var(--border);
    color: var(--dimText);
}

.count {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 30px;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}