.textarea__wrapper {
    max-width: 640px;
    border-left: 1px solid #ccd6dd;
    border-right: 1px solid #ccd6dd;
    border-bottom: 1px solid #ccd6dd;
}

.textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    background-color: rgb(231, 229, 229);
    font-family: monospace;
    font-size: 18px;
}