.header {
    position: fixed;
    width: 75vw;
    height: 60px;
    grid-area: h;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
}

.header img {
    width: 75px;
}