.nav {
    position: fixed;
    grid-area: n;
    background-color: var(--background);
    margin: 118px 0 0 14px;
}

.item {
    color: var(--text);
}

.item a {
    text-decoration: none;
}

.item a:hover {
    color: var(--links);
}

.active {
    color: var(--links);
}

.friends {
    margin-top: 50px;
}