.button {
    width: 88px;
    height: 32px;
    color: var(--links);
    font-size: inherit;
    padding: 0;
    border: 1px solid var(--links);
    background: none;
    border-radius: 9999px;
    margin: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: var(--orangeHover);
}

.button:active {
    transform: translateY(2px);
    transition: 0.2s;
    background-color: rgb(146, 125, 125);
}

.button:disabled {
    border-color: var(--border);
    color: var(--dimText);
}

.count {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 30px;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid whitesmoke;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border: 2px solid white;
}