.user_info_container {
    display: flex;
}

.images {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.img__wrapper {
    margin-bottom: 10px;
}

.userPhotoContainer {
    width: 300px;
    height: 300px;
}

.userPhotoContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.userPhotoContainer .button {
    display: none;
    position: absolute;
    top: 31%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.userPhotoContainer:hover .button {
    display: inline-block;
}

.infoWrapper {
    padding-left: 20px;
}