.images {
    width: 900px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.img__wrapper {
    margin-bottom: 10px;
}

.user_photo__wrapper {
    display: flex;
    flex-direction: column;
}

.user_photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}