/*
 * Vars
*/
:root {
  --background: rgb(21, 32, 43);
  --border: rgb(56, 68, 77);
  --text: rgb(255, 255, 255);
  --dimText: rgb(136, 153, 166);
  --links: rgb(244, 93, 34);
  --orangeHover: rgba(244, 93, 34, 0.1);
  --greyHover: rgba(255, 255, 255, 0.03);
}
/*
 * Null style
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

a, a:hover {
  text-decoration: none;
}

a:visited {
  color: #007bff;
}

button,
textarea,
input {
  outline:0;
}

button:active {
  outline: 0;
}
/*
 * App style
*/
body {
  font-size: 17px;
}



