:root {
  --background: #363537;
  --text: '#363537';
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: black;
  font-family: monospace;
  font-size: 17px;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: #ffffff;
  border-left: 1px solid #ccd6dd;
}