* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #ffffff;
  color: black;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: #ffffff;
}