.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__item {
    padding: 10px;
    margin-right: 20px;
}

.messages {
    padding: 20px;
    border: 1px solid #ccd6dd;
    max-width: 600px;
}

