.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__item {
    padding: 10px;
    margin-right: 20px;
}

.messages {
    padding: 20px;
    border: 1px solid #ccd6dd;
    max-width: 600px;
    height: 60vh;
    overflow: auto;
    word-break: break-word;
}

.textarea__wrapper {
    max-width: 640px;
    border-left: 1px solid #ccd6dd;
    border-right: 1px solid #ccd6dd;
    border-bottom: 1px solid #ccd6dd;
}

.textarea {
    width: 97%;
    min-height: 100px;
    padding: 10px;
    background-color: rgb(231, 229, 229);
    font-family: monospace;
    font-size: 18px;
}

