.message__wrapper {
    padding: 10px;
    display: flex;
}

.right {
    flex-direction: row-reverse;
}

.message {
    padding: 10px;
    max-width: 70%;
    border-radius: 25px;
}

.grey {
    background-color: grey;
}

.green {
    background-color: #bbdda6;
}